<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <div class="d-flex">
                    <h1>ALL Users</h1>  

                    <button class="btn btn-md btn-primary" type="button" (click)="addCourse()">Add Course</button>



                </div>
              
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8 offset-2">
                        <table class="table">
                          <thead>
                            <tr>
                                <th>Id</th>
                                <th>Course</th>
                                <th>Desc</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let user of allUser">
                                <td>{{user.id}}</td>
                                <td>{{user.coursename}}</td>
                                <td>{{user.desc}}</td>
                                <td>{{user.price}}</td>
                                <td><button type="button" class="btn btn-md btn-primary" (click)="edit(user.id)">Edit</button> | 
                                <button type="button" class="btn btn-md btn-danger" (click)="delete(user.id)">Delete</button></td>
                            </tr>
                          </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>